<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <p>
            <label for="id_password_input">Hasło</label>
            <input id="id_password_input" type="password" name="password_input" value="" placeholder="Twoje hasło">
        </p>
        <p>
            <label for="id_text_input">Tekst</label><br>
            <input id="id_text_input" type="text" name="text_input" value="" placeholder="Wpisz jakis tekst">
        </p>
    </form>
</body>
</html>